*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #176B87;
}

#main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.box{
    width: 40%;
    height: 400px;
    box-shadow: 0px 0px 5px grey;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#ques{
    width: 100%;
    margin: 8px 30px ;
}
.rHead{
    color: #176B87;
    font-weight: bold;
    font-size: medium;
    width: 90%;
    text-align: center;
    font-size: 30px;
    margin: 20px 30px 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
table{
    
    width: 90%;
  
   
    margin: 20px 30px 0px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    
}
td{
    text-align: right;
    padding: 13px;
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
td.left{
    font-weight: bold;
    width: 400px;
    text-align: left;
}
.btn{
    /* align-items: center; */
    margin: 35px 150px 0px 30px;
    width: 120px;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    color: white;
    background-color: #176B87;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}   
